h2 {
	color: blue;
}

.boxmodel {
	text-align: center;
	border: 5px solid red;
	display: inline-block;
	/* padding: 20px; -- this applies to all sides*/
	padding: 5px 20px 5px 20px;
	/* padding: to define specific sides as above go --> top, right, bottom, left */
	/* margin: 20px; as wtih padding, a single number applies to all sides*/
	/* margin: 0px, 20px, 0px, 20px; each side specified T, R, B, L*/
	margin: 0px, 20px;
	/* this is short hand which will get applied to B L as well */
	height: 24px;
	width: 36px;
	/* height: and width: apply to the dimensions on the inner most box in the developer view */
}

/* --- px VS em VS rem ----- */
/* px is an absolute unit */
/* em is a relatative multiplier of px (5em text in a 10px block will read as 50px) */
/* rem is a relative multiplier of the root element, in this case HTML.  Browsers generally use a font size of 16px so a 2rem value likely yields a 32px font. */

p {
	font-size: 10px;
}

span {
	font-size: 2em;
}
