/* Property Selector
Property: value; 

!important (not recommended)

REMEMBER - cascading means last Property value wins
*/

/* ---------------------------------------
ELEMENT just impacts the stated element */

body {
	background-image: url(background.jpg);
	background-size: cover;
}

p {
	color: green;
}

li {
	list-style: none;
	display: inline-block;
}

/*--------------------------------- 
ELEMENT, ELEMENT groups the CSS values, here h2 and p.  IOW the comma is read as AND */

h2,
h3,
h4,
p {
	color: #aa4139;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}

/* ------------------------------------------------
CLASS (.) */

.webtext {
	border: 5px dashed green;
}
.active {
	color: red;
}

/* this will pick up the 'active' in the first <p> tag in the index.html file.  IOW, it applies .webtext to any class with 'webtext' text and then adds/overrides those with 'active' as well ('webtext active' in this case). 
----------------------------------------
*/

/* ----------------------------------------------
ID (#) */
#div1 {
	background: rgba(0, 0, 255, 0.2);
}
#div2 {
	background: rgba(255, 0, 0, 0.2);
}
/* -----------------------------------------------

*/

/* --------------------------------------------
STAR (*)
means "ALL ELEMENTS" except that will be overridden where something is otherwise specfied*/

* {
	text-align: right;
}

/* note in the resulting web page, the h2 an p elements are still centered because they are specifically called out to be in thier CSS 
-------------------------------------------------
*/

/* --------------------------------------------

ELEMENT ELEMENT targets all elements (the 2nd argument) wrapped within another element (the 1st argument)

h2 p {} is saying 'all p tags inside an h2 */

/*
Reads On: <h2><p>impsum lorem</p></h2>
Doesn't Read On: <h2>Lorem Impsum</h2><p>some text</p> (p tag is NOT wrapped by h2 tag)
------------------------------------------------
 */

h2 p {
	color: #5b39aa;
	text-align: center;
	border: 3px dotted black;
	cursor: pointer;
}

/* ---------------------------
ELEMENT > ELEMENT
 Select all instances of the 2nd ELEMENT that have the 1st ELEMENT as a parent
 */

h3 > p {
	color: hsl(101, 50%, 45%);
	text-align: center;
	border: 5px solid rgba(128, 123, 123, 0.5);
	cursor: pointer;
}
/* In the index.html code, the <p> wrapped by a <div> is not impacted as it isn't a child of the <h3> (it's a child of the <div> 
--------------------------------------------*/

/* --------------------------
ELEMENT + ELEMENT
Select the 1st instance of the 2nd ELEMENT immediately following the 1st element
 */
h4 + p {
	color: darkslategray;
}

/* --------------------------------------
:HOVER means the styling only takes place when the cursor is hovered over the element  */

/* ------------------------------------------
 :LAST-CHILD means that only the last child element is impacted by the stated values
 
 coded as (using our webtext class as an example)...*/

.webtext:last-child {
	border: 2px dashed purple;
}

/*----------------------------- 
:FIRST-CHILD is the opposite of the above (using the same class example) */

.webtext:first-child {
	border: 8px solid black;
}
